<h1>Forms</h1>


<div class="row">
    {{#each allForms}}

    <div class="col-6">

        <div class="card">
            <div class="card-body">

                <h4>Name: {{name}}</h4>
                <h4>E-mail: {{email}}</h4>
                <h4>Phone number: {{phoneNumber}}</h4>
                <h4>Message: {{message}}</h4>
                <h4>Method of contact: {{methodContact}}</h4>
                <h4>Date: {{date}}</h4>
                <h4>Schedule: {{schedule}}</h4>
            </div>

        </div>

    </div>

    {{/each}}

</div>